* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* width: 100%; */
    max-width: 100%;
    height: 1000px;
    background-color: #fff;
    color: #fff;
    justify-content: center;
    padding: 10px;
}
header {
    /* border: 1px solid #f3f3f3; */
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
     /* margin-top: 10px; */
    
}
main {
    max-width: 100%;
    height: 3000px;
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
}
section{
    border: 1px solid #f3f3f3;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 5px;
    /* margin-left: 40px; */
    margin-top: 70px;
    width: 70%;
    height: auto;
    /* background-color: #202020; */
    flex-basis: 70%;
    padding-left: 80px;
}
aside {
    max-width: 100%;
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    /* border: 1px solid #f3f3f3; */
    border-right: none;
    height: 5000px;
    margin-left: 125px;
    /* margin-top: 0px; */
    /* background-color: #fff; */
    flex-basis: 20%;
    padding: 20px;
}
footer {
    margin-top: 2000px;
    /* margin-left: 40px; */
    background-color: #fff;
    width: 100%;
    height: 1600px;
    /* margin-right: 40px; */
}

/* header */

.container {
    /* margin: 0 auto; */
    gap: 20px;
    /* max-width: 1200px; */
    /* justify-content: space-between; */
    display: flex;
    /* display: inline-block; */
    align-items: center;
    color: #111;
    width: 100%;
    
  }

.logo {
    margin-left: 25px;
  }
  
.logo img {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

.content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-basis: 70%; */
    width: 100%;
    overflow: auto;
    position: relative;
    /* margin-right: 0px; */
}
.right img {
    margin-bottom: 10px;
}
.content ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 550; */
    /* Opacity: 0.9; */
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
}
.content li {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

.left {
    float: left;
    width: 50%;
}
.right {
    
    /* width: 50%; */
    float: right;
    /* width: 600px; */
    text-align: right;
   
  }
.title {
    display: flex;
    color: #f4f4f4 ;
    font-size: 0;
    width: 100%;
    height: auto;
    background-color: #252525;
  }
#sign_up{
    width: 120px;
    height: 40px;
    background-color: #04aa6d;
    padding: 9px 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 30px;
    color: #fff;
    
    margin-right: 20px;
    position: relative;
    /* right: -40px; */
    
}
.vc{
    margin-left: 400px;
}
.right #sign_up {
    margin-top: 10px;
    margin-left: 10px;
}
#login{
    
    width: 105px;
    height: 40px;
    background-color: #d9eee1;
    padding: 10px 80px 10px 50px;
    text-align: center;
    border-radius: 30px;
    /* background-image: linear-gradient(to right, red, blue); */
}
.title ul li {
    
    padding-left: 30px;
    /* height: 30px; */
    margin: 5px; 
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 15px; 
    /* padding: 0px 15px; */
 }

 /* .title ul li:hover{
    
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #111;
 } */
 

/* title-header */
.title-header {
    background-color: #e7e9eb;
    width: 100%;
    height: 800px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.title-header h1{
    padding-top: 30px;
}

.title-header p {
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 30px;
    color: #111;
}
.title-header img {
    width: 70%;
    height: auto;
    cursor: pointer;
   
}
.center{
    text-align: center;
    margin-top: 30px;
}
.brow{
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
   
    
}
#brow{
    background-color: #282a35;
    text-align: center;
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
}

#brow:hover{
    background-color: #111;
}

 .container-section{
    width: 100%;
    height: auto;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-top: 0px;
    background-color: #202020;
    font-size: 0;
    color: #fff;
 }
 .container-section h1{
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
}
.container-section p{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}
.img-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-section{
    padding-bottom: 40px;
    text-transform: capitalize;
    /* background-color: #3CB371; */
}
.title-section p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid rgb(0, 128, 38);
    border-radius: 5px;
    background-color: rgb(36, 120, 50);
    width: 350px;
    height: 40px;
    /* padding: px; */
    text-align: center;
    margin-left: 75px; 
    cursor: pointer;
    margin-bottom: 20px;
}
.title-section #title-section2{
    background-color: #F5F5DC;
    border: 1px solid #F5F5DC;
    color: #111;
    text-align: center;
    /* padding: 7px; */
    width: 400px;
    height: 40px;
    cursor: pointer;
}

.title-section p:hover {
    background-color: rgb(0, 128, 68);
    transition-duration: 0.3s;
}
.title-section #title-section2:hover{
    background-color: #FFF5EE;
    transition-duration: 0.3s;
}
.container-aside {
    background-color: #fff;
    color: #111;    
}
.container-aside p{
    font-weight: bold;     
    text-align: center;
}
.img-aside{
    margin-left: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
    cursor: pointer;
   
}

.container-aside p{
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-transform: uppercase; */
    margin-top: 80px;
    font-size: 20px;
    color: black;
    
}

.img-aside-2{
    margin-left: 30px;
    /* padding-left: 95px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    cursor: pointer;
}
.contact {
    margin-top: 30px;
    margin-left: 30px;
    /* width: 500px; */
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul {
    list-style: none;
    display: inline-block;
}
.contact ul li {
    font-size: 40px;
    display: inline-block;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
    cursor: pointer;
}
.contact ul li i{
    color: #111;
}

.img-aside-3 img {
    margin-top: 80px;
    width: 100%;
    margin-left: 30px;
    padding: 20px 70px;
    cursor: pointer;
}
.content-aside{
    margin-left: 50;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    color: #111;
}
.content-aside p {
    margin-left: 50px;
    margin-bottom: 30px;
}
.img-aside-4{
    margin-left: 30px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container-section-2{
    color: #111;
   
}
.content-section{
    color: #111;
    font-size: 0px;
    border: 1px solid #f4f0ec;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 30px;
}
.content-section h1{
    font-weight: 100;
    font-size: 40px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content-section p{
    margin-top: 30px;
    font-size: 17px;
    line-height: 50px;
}
.table-section{
    border: 1px solid #f4f0ec;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 280px;
}
.table-section table {
    border-collapse: collapse;
    /* text-align: center; */
    color: #111;
    margin-top: 30px;
    width: 100%;
    
}
.table-section tr td, tr th
 {
    height: 40px;
    /* border: 1px solid #a9a9a9; */
    padding: 5px 10px;
    text-align: left;
    padding-left: 20px;
}
.table-section tbody tr:nth-child(2n+1){
    background-color: #f3f3f3;
}
.table-section tr
 {
    height: 40px;
    border: 1px solid #f4f0ec;
    padding: 5px 10px;
}
.table-section tbody tr:nth-child(2n+1){
    background-color: #f3f3f3;
}

.table-tbody i{
    font-size: 25px;
}
.table-section th {
    font-weight: 600;
    font-size: 20px;
}

.table-section td {
    font-size: 18px;
}

/* content 2 */

.content-section2 {
    /* display: flex; */
    color: #111;
    /* border-bottom: 1px solid #f4f0ec; */
    margin-top: 35px;
}
.content-section2 h2 {
    font-size: 40px;
    font-weight: 100;
}
.content-section2 p{
    padding-top: 20px;
}
.content-section2-min{
    display: flex;
    gap: 10px;
    height: 80px;
    border-bottom: 1px solid #f4f0ec;
}
.content-section2-min p{
    color: #fff;
    background-color: #50c878;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 10px;
     padding: 17px;
     border-radius: 7px;
     text-transform: capitalize;
     margin-top: 20px;
     cursor: pointer;
     
}
.content-section2-min p:hover {
    background-color: #2e8b57;
    transition: 0.5s;
}

/* content 3 */
.content-section3 {
    color: #111;
    margin-top: 30px;
}
.content-section3 h2 {
    font-size: 40px;
    font-weight: 100;
}
.content-section3 p {
    margin-top: 20px;
}

/* content 4 */

.content-section4 {
    border: 1px solid #f1f1f1;
    background-color: #e7e9eb;
    width: 100%;
    height: 700px;
    padding-left: 15px;
    /* padding: 50px; */
    padding-top: 10px;
    color: #111;
    margin-top: 40px;
}
.content-section4 ul {
    list-style: none;
    font-size: 25px;
}
.content-section4 li {
    display: inline-block;
    padding-right: 30px;
}

.content-section4 ul li p{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 5px;
    margin-left:6px;
    border-radius: 5px;
    background-color: #2e8b57;
    text-align: center;
    cursor: pointer; 
}
.content-section4-min {
    width: 50%;
    border: 1px solid #f1f1f1;
}
/* .run-section4 {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 5px;
    margin-left:6px;
    border-radius: 5px;
    background-color: #2e8b57;
    text-align: center;
    cursor: pointer; 
} */

.content-section4 ul li p:hover {
    background-color: #32cd32;
    transition: 0.5s;

}

/* phần Backend Code Compiler */

#prog{
    color: #111;
    background-color: #fff;
    /* padding: 5px; */
    padding: 3px 10px;
    text-align: center;
    font-size: 19px;
    border: 1px solid #acacac;
    border-bottom: none;
}

#input {
    background-color: #d0d0d0;
    color: #111;
    text-align: center;
    padding: 3px 10px;
    font-size: 19px;
    border: 1px solid #acacac;
}

/* .container-section-5 {
    width: 100%;
    height: 100%;
    
} */

.content-section-5{
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #fff;
    width: 50%;
    height: 75%;
    background-color: #fff;
    
}

#content-section5 {
    width: 14%;
    height: 38px;
    margin-top: 20px;
    text-align: center;
    padding: 9px;
    border-radius: 5px;
    background-color: #04aa6d;
    color: #fff;
    cursor: pointer;
}
.edit-img {
    /* letter-spacing: 1px; */
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #fff;
    width: 350px;
    height: 549px;
    background-color: black;
    width: 50%;
    /* position: absolute; */
    margin-top: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-section-6 {
    margin-top: 40px;
}
.content-section-7 {
    width: 100%;
    height: 250px;
    
    margin-top: 20px;
}
#content-section-7{
    color: #111;
    width: 100%;
    height: 200px;
    background-color: #FFFFCC;
}
.content-section-7 h2{
    font-weight: 100;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
}
.content-section-7 p{
    width: 80%;
    font-size: 17px;
    line-height: 2.5;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    
}
.content-section-8 {
    color: #111;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.content-section-8 p{
    line-height: 2.5;
    margin-top: 10px;
}
.img-section-8 {
    color: #111;
    width: 100%;
    height: 300px;
    background-color: #d9eee1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ul-section8 {
    color: #111;
    width: 600px;
    height: auto;
    font-size: 18px;
    margin-left: 30px;
}
.span-section-8{
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    
}
#span-section-8 {
    border-radius: 5px;
    color: #fff;
    background-color: #04aa6d;
    margin-top: 30px;
    padding: 8px 18px;
    cursor: pointer;
    
}
#span-section-8:hover{
    background-color: #04aa4d;
    transition: 0.5s;
}


.signup-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 0 auto;
  }
 
.container-section-9{
    color: #111;
    background-color: #d9eee1;
    width: 100%;
    height: 700px;

  }
.left-section-9 ul li h1{
    color: #111;
    margin-top: 100px;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    Opacity: 5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left-section-9{
    text-align: center;
    /* width: 50%; */
    /* height: 100%; */
    padding: 20px;
    
    
}
.left-section-9 ul {
    
    height: auto;
    width: 50%;
    list-style-type: none;
}
.left-section-9 ul li {
    /* width: 50%; */
    /* padding: 25px; */
    font-weight: 900;
}
#section-ul-9 li{
    margin-top: 30px;
    
}
#a {
    font-size: 18px;    
}

#b{
    padding: 10px 20px;
    margin: 0px 150px 2px 150px;
    background-color: #04aa4d;
    color: #fff;
    border-radius: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
#c {
    background-color: #fff4a3;
    padding: 10px 20px;
    margin: 0px 150px 2px 150px;
    border-radius: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
#d {
    background-color: #282a35;
    padding: 10px 20px;
    margin: 0px 150px 2px 150px;
    color: #fff;
    border-radius: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
#e{
    background-color: #ffc0c7;
    padding: 10px 20px;
    margin: 0px 150px 2px 150px;
    border-radius: 18px;
    text-transform: capitalize;
    cursor: pointer;
}

.right-section-9 {
    
    margin-top: 100px;
    background-color: #f3f3f3;
    height: 470px;
    border: 1px solid #F5F5DC;
    border-radius: 8px;
    width: 100%;
}
.right-section-9 h1 {
    padding-bottom: 30px;
    
}
#content-span-9 {
    padding: 10px;
    padding-left: 15px;
    background-color: #fff;
    height: 300px;
    width: 400px;
    border-left: 4px solid #04aa4d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#try-section-9 {
    margin-top: 15px;
    background-color: #04aa6d;
    width: 45%;
    text-align: center;
    padding: 10px 16px;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
#try-section-9:hover {
    background-color: #04aa4f;
    transition: 0.5s;
}

.container-section-10{
    color: #111;
    background-color: #fff4a3;
    width: 100%;
    height: 720px;#
}
.left-section-10 h1{
    margin-top: 130px;
    font-size: 100px;
}
.left-section-10{
    height: auto;
    width: 100%;
    list-style-type: none;
}
.left-section-10 ul {
    list-style-type: none;
    height: auto;
    width: 50%;
    text-align: center;
    
}

.left-section-10 ul li {
    /* padding: 20px; */
    /* width: 50%; */
    /* padding: 25px; */
    font-weight: 900;
    
}
#section-ul-10 li{
    margin-top: 30px;
}
.right-section-10{
    margin-top: 125px;
    height: 480px;
    width: 100%;
    background-color: #f3f3f3;
    /* margin-top: 30px; */
    /* padding: 100px; */
    text-align: left;
    margin-right: 20px;
    border-radius: 15px;
}
.right-section-10 h1{
    font-size: 25px;
    margin-top: 5px;
    padding-bottom: 30px;
    /* margin-bottom: 80px; */
    
}
#content-span-10 {
    padding: 10px;
   
    padding-left: 15px;
    background-color: #fff;
    height: 300px;
    width: 400px;
    border-left: 4px solid #04aa4d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#try-section-10
{
    
    margin-top: 55px;
    background-color: #04aa6d;
    width: 45%;
    text-align: center;
    padding: 10px 16px;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
#try-section-10:hover {
    background-color: #04aa4f;
    transition: 0.5s;
}

/* footer */
.container-footer {
    width: 100%;
    height: auto;
    color: #fff;
   
    
}

.content-footer {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    background-color: #fff;
    color: #111;
    width: 100%;
    height: auto;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#abc p {
    text-transform: capitalize;
    border-radius: 10px;
    /* padding-left: 20%;
    padding-right: 20%; */
    color: #fff;
    background-color: #282a35;
    display: inline-block;
    padding: 12px 95px;
    margin: 30px 20px;
    cursor: pointer;
}
#abc p:hover {
    background-color: #04aa4f;
    transition: 0.5s;
}

#advertisement::first-letter {
    color: #4267B2;
    font-size: 70px;
    font-weight: bold;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content-footer-2 {
    color: #111;
    text-align: center;
    width: 100%;
    height: 950px;
    border-bottom: 1px solid #f3f3f3;
    
   
}
.content-footer-2 img {
    border-bottom: 1px solid #f3f3f3;
    margin-top: 80px;
    
}
.content-footer-2 h1{
    padding-top: 50px;
    width: 100%;
    height: auto;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.content-footer-2 p {
    /* padding-top: 70px; */
    
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#font {
    margin-top: 50px;
    font-size: 15px;
}



.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    
  }
  
  .orange {
    background-color: orange;
    width: 20px;
    height: 20px;
    
    
    
  }
  
  .red {
    background-color: red;
    width: 20px;
    height: 20px;
    
  }
  
  .blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    
  }
.pod{
    margin-bottom: 5px;
}
.title-footer3{
   
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-footer3{

    background-color: #f3f3f3;
    width: 60%;
    height: 500px;
    margin-top: 40px;
    margin-left: 300px;
}

.content-footer3 img {
    
    border: 3px solid yellow;
    width: 98%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    margin-top: 20px;
    margin-left: 10px;

}

.circle{
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    /* display: inline-block;
    justify-content: left;
    text-align: left; */
    
}

.codeeditorbr-input {
    
    border: 1px solid #fff;
    border-radius: 5px;
    width: 550px;
    height: 25px;
    background-color: #fff;
    margin-left: 100px;
}
.button {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
    
  }
.button:hover{
    background-color: #808080;
}
.purple {
    height: 15px;
    width: 15px;
    background-color: #909090;
    text-align: center;
    
    
  }
.content-footer-4{
    
    text-align: center;
    background-color: #282a35;
    width: 50px;
    height: 80px;
    margin-left: 440px;
    margin-top: 32px;
    padding: 20px;

}
.content-footer-5 {
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #282a35;
    /* padding-bottom: 68px; */
    width: 380px;
    height: 55px;
    /* padding-bottom: 65px; */
    /* margin-bottom: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 270px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    padding: 20px;
    
    
}

.content-footer-5:hover {
    background-color: #111;
}
.contact-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-links a {
    display: block;
    margin-bottom: 60px;
    font-size: 30px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .contact-links a:hover {
    color: #4267B2;
  }

  
  .footer-container {
    border-bottom: 1px solid #f3f3f3;
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    width: 23%;
    margin-bottom: 30px;
  }
  
  .footer-column h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    color: #111;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer-column a {
    
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    
  }
  
  .footer-column a:hover {
    color: #4267B2;
  }
  
  .footer-column p {
    margin-bottom: 20px;
    color: #111;
    
  }
  
